# SPDX-FileCopyrightText: 2017 Scott Shawcroft, written for Adafruit Industries
# SPDX-FileCopyrightText: Copyright (c) 2020 Tim C
#
# SPDX-License-Identifier: MIT

Adafruit-Blinka
adafruit-circuitpython-display_shapes
adafruit-circuitpython-display-text
