<html>
<head>
<title>ODAS 95mm</title>
</head>
<body>
<h1>ODAS in 95mm</h1>
<h3>Land Boards, LLC ODAS in 95mm board template</h3>
<h2>Features</h2>
<ul>
<li>95x95mm card</li>
<li>(4) 6-32 mounting holes</li>
<li>Daisy-Chain I2C connectors</li>
<li>Jumper Selectable I2C Terminators</li>
<li>I2C Address Select Jumpers</li>
<li>24LC024 Personality EEPROM with Write Enable jumper</li>
</ul>
<h2>Reference Documents</h2>
<ul>
<li><a href="http://land-boards.com/blwiki/index.php?title=Open_Data_Acquisition_System">ODAS Spec</a>
</ul>
</body>
</html>
