.ii-class-frame {
    display: none;
    visibility: visible;
    z-index: 999;
    position: absolute;
    overflow: auto;
    padding: 8px;
    border-radius: 8px;
    box-shadow: black 2px 2px 16px;
    background: #ffffff url("chrome://imdbinfo/content/background.png") 0 150px / 100% 100%;
    cursor: default;
    }

.ii-class-frame:not(#imdbinfoPhoto):not(#imdbinfoRating) {
    resize: both;
    }

#imdbinfoPhoto {
    overflow: hidden;
    }

.ii-class-image {
    padding: 0;
    margin: 0 0 8px 8px;
    float: right;
    overflow: hidden;
    }

.ii-class-image:hover {
    background-color: gray;
    }

.ii-class-details {
    margin-top: 8px;
    }

.ii-class-label, small[id] {
    margin-right: 8px;
    }

.ii-class-separator {
    overflow: auto;
    height: 1px;
    margin: 8px 0 4px;
    background-color: black;
    }

.ii-class-link {
    position: relative;
    }

.ii-class-link, .ii-class-link:hover {
    text-decoration: none !important;
    border-bottom: 0 !important;
    }

.ii-class-link > img {
    margin: 4px 4px 0 0;
    width: 64px;
    height: 16px;
    background-image: url(chrome://imdbinfo/content/links.png);
    background-repeat: no-repeat;
    }

.ii-class-link > span {
    position: absolute;  top: -1px;  left: 4px;
    font: normal normal bold 10px/10px Verdana,Arial,sans-serif !important;
    }

.ii-class-error {
    display: none;
    z-index: 998;
    position: absolute;
    width: 32px;
    height: 32px;
    background-image: url(chrome://imdbinfo/skin/icon32.png);
    background-repeat: no-repeat;
    cursor: pointer;
    }

/* text */

.ii-class-frame {
    color: black !important;
    font: normal normal normal 12px/15px Verdana,Arial,sans-serif;
    text-indent: 0 !important;
    text-transform: none !important;
    letter-spacing: normal !important;
    word-spacing: normal !important;
    direction: ltr !important;
    white-space: normal !important;
    word-wrap: break-word !important;
    }

.ii-class-frame * {
    color: inherit !important;
    font: inherit !important;
    text-indent: inherit !important;
    text-transform: inherit !important;
    letter-spacing: inherit !important;
    word-spacing: inherit !important;
    direction: inherit !important;
    white-space: inherit !important;
    word-wrap: inherit !important;
    }

.ii-class-frame:not(#imdbinfoRating) {
    text-align: left !important;
    }

.ii-class-frame:not(#imdbinfoRating) *:not(.ii-class-text) {
    text-align: inherit !important;
    }

.ii-class-frame a:not(.ii-class-link) {
    border-bottom: 1px dotted black !important;
    background-color: transparent !important;
    text-decoration: none !important;
    }

.ii-class-frame big {
    font-size: 120% !important;
    font-weight: bold !important;
    line-height: 120% !important;
    }

.ii-class-frame small {
    font-size: 80% !important;
    line-height: 80% !important;
    }

.ii-class-label {
    font-weight: bold !important;
    }

.ii-class-text {
    text-align: justify !important;
    }
