# SPDX-FileCopyrightText: 2021 ladyada for Adafruit Industries
#
# SPDX-License-Identifier: Unlicense

Adafruit-Blinka
adafruit-circuitpython-bitmap-font
adafruit-circuitpython-display-shapes
adafruit-circuitpython-display-text
adafruit-circuitpython-gizmo
adafruit-circuitpython-lis3dh
adafruit-circuitpython-lsm6ds
adafruit-circuitpython-miniqr
adafruit-circuitpython-neopixel
