# SPDX-FileCopyrightText: 2017 Scott Shawcroft, written for Adafruit Industries
# SPDX-FileCopyrightText: Copyright (c) 2022 Evin Dunn
#
# SPDX-License-Identifier: MIT

Adafruit-Blinka~=7.2.2
adafruit-circuitpython-datetime~=1.1.7
