# SPDX-FileCopyrightText: 2017 Scott Shawcroft, written for Adafruit Industries
# SPDX-FileCopyrightText: Copyright (c) 2021 Nathan Byrd
#
# SPDX-License-Identifier: MIT

Adafruit-Blinka
adafruit-circuitpython-datetime
